body,
html {
    margin: 0;
    padding: 0;
    color: #0c0c0c;
}

html {
    font-family: "Noto Sans", sans-serif;
    line-height: 1.5em;
    scroll-behavior: smooth;
}


/* ie 11 layout */

.page {
    display: -ms-grid;
    -ms-grid-columns: 300px 1fr minmax(100px, 48rem) 1fr;
    -ms-grid-rows: auto 1fr auto;
}

header {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 4;
}

aside {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
}

main {
    -ms-grid-column: 3;
    -ms-grid-row: 2;
}

footer {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    -ms-grid-column-span: 4;
}


/* layout */

.page {
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 300px 1fr minmax(100px, 48rem) 1fr;
    grid-template-areas: "head head head head" "nav . main ." "foot foot foot foot";
    min-height: 100%;
}

header {
    grid-area: head
}

main {
    grid-area: main
}

footer {
    grid-area: foot
}

aside {
    grid-area: nav
}

footer.footer,
header.header,
main.content {
    padding: 12px;
}

header.header {
    text-align: center;
    background: #0171a1;
    color: white;
    border-bottom: 5px solid #0098d9;
}

main.content {
    max-width: 48em;
    display: block;
    /* for ie 11 */
}

footer.footer {
    background: #dddddd;
    text-align: center;
}


/* header */

.brand {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.9em;
    color: #dbebf3;
    font-weight: bold;
}

.brand img {
    margin-right: 10px;
}

.brand .show-sm {
    font-size: .9em;
}

.title {
    color: #f2f7fa;
    margin: 10px;
    display: inline-flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    line-height: 1.1;
}

.title>span {
    margin: 0 5px;
}

.subtitle {
    color: #dfeff7;
    margin: 0;
}


/* no-js */

.no-js .search-bar,
.no-js .page-actions {
    display: none;
}


/* search */

.search-bar {
    margin-top: 20px;
    margin-bottom: 30px;
}

.search {
    width: 100%;
    border-radius: 3px;
    box-shadow: none;
    border: 1px solid grey;
    height: 33px;
    line-height: 33px;
    padding-left: 10px;
    font-size: 1.2em;
}

mark {
    background: rgba(255, 247, 94, 0.86);
    color: black;
}

.answer mark {
    background: rgba(255, 247, 94, 0.56);
}

.match-faq .answer mark {
    background: rgba(255, 247, 94, 0.26);
}

.answer ul>li>p {
    margin: 0;
}

ul.topics,
ul.subs {
    padding-left: 0;
}

li.sub,
li.topic {
    list-style: none;
}

.title-link h2,
.title-link h3,
.title-link h4 {
    display: inline;
}

.topics>li:first-child {
    margin-top: 20px;
}

li.topic {
    margin-top: 40px;
}

li.sub {
    margin-top: 30px;
}

li.faq {
    margin-top: 20px;
}

.topic h2 {
    color: #0098d9;
}

.sub h3 {
    color: #0171a1;
}

.faqs {
    padding-left: 15px;
}

.faqs li {
    list-style: none;
}

.faqs ul li {
    list-style: disc;
}


/* filtering */

.filtering .topic,
.filtering .sub,
.filtering .faq {
    display: none;
}

.filtering .topic.marked,
.filtering .sub.marked,
.filtering .faq.marked {
    display: block;
}

.filtering .sub.match-sub .faq {
    display: block;
}

.filtering .topic.match-topic .sub,
.filtering .topic.match-topic .sub .faq {
    display: block;
}

.phrasing {
    display: none;
}

li.faq {
    margin-top: 20px;
}

summary.context {
    text-indent: -15px;
}

summary.context h4 {
    display: inline;
}


/* permalink */

a.permalink {
    font-size: 1.4em;
    text-decoration: none;
    color: #4f5369;
}

.sub>.title-link>.permalink {
    color: hsla(198, 76%, 32%, 1);
}

.title-link .permalink {
    opacity: 0;
    transition: opacity .3s ease;
}

.title-link:hover .permalink,
.title-link:focus .permalink,
.title-link .permalink:focus {
    opacity: 1;
}

summary {
    cursor: pointer;
}


/* summary:focus,
.permalink:focus {
    outline: #A6C7FF solid 1px;
} */

html.no-details.no-details details>summary::before {
    width: auto;
}

.no-results-message {
    display: none;
}

.filtering.no-results .no-results-message {
    display: block;
}


/* utilities */

.show-md,
.show-lg {
    display: none;
}


/* toc */

aside {
    background: #f4f4f4;
    max-height: 100%;
}

nav {
    padding: 15px;
    padding-left: 20px;
    /* position: sticky;
    top: 15px;
    overflow-y: auto;
    max-height: calc(100vh - 45px); */
}

.toc>h2 {
    margin-top: 20px;
}

ul.nav-topics {
    padding-left: 0px;
}

li.nav-topic {
    list-style: none;
}

li.nav-sub {
    margin-top: 5px;
    list-style: square;
}

ul.nav-subs {
    padding-left: 30px;
}

.nav-topic {
    margin-top: 15px;
}

.nav-topic>a.navlink {
    color: #0098d9;
    font-size: 1.2em;
}

.nav-sub>a.navlink {
    color: #0171a1;
    font-size: 1.1em;
}


/* page actions */

.page-actions {
    position: fixed;
    bottom: 15px;
    right: 15px;
    background: white;
    box-shadow: white 0px 0px 6px 14px;
    display: flex;
    flex-direction: column;
}

.btn {
    margin: 5px;
    padding: 4px 9px;
    border-radius: 4px;
    border: 1px solid #0171a1;
    background: #0098d9;
    color: white;
    font-size: 1em;
    font-family: "Noto Sans", sans-serif;
    cursor: pointer;
}

.btn.btn ins {
    background: #047cb0;
    border-radius: 2px;
    padding: 1px 4px;
}


/* media queries */

@media screen and (min-width: 475px) {
    .show-md {
        display: block;
    }
    .show-sm,
    .show-lg {
        display: none;
    }
}

@media screen and (min-width: 600px) {
    .show-lg {
        display: block;
    }
    .show-sm,
    .show-md {
        display: none;
    }
}

@media screen and (max-width: 750px) {
    .page {
        -ms-grid-columns: 0 1fr minmax(100px, 48rem) 1fr;
        grid-template-columns: 0 1fr minmax(100px, 48rem) 1fr;
    }
    aside {
        display: none;
    }
}


/* updates */

.faq-updated,
.faq-new {
    position: relative;
}

.faq-updated::before,
.faq-new::before {
    position: absolute;
    top: 2px;
    left: -36px;
    font-size: 2.5em;
}

.faq-updated::before {
    color: orange;
}

.faq-new::before {
    color: green;
}

del {
    display: none;
}

ins {
    background: inherit;
    text-decoration: none;
}

.faq-updated::before,
.faq-new::before {
    content: "";
}

.show-diff .faq-updated::before,
.show-diff .faq-new::before {
    content: "•";
}

.show-diff .faq-new {
    background: #edffed;
}

.show-diff del {
    background: #ffc9c9;
    border-radius: 2px;
    text-decoration: line-through;
    display: inline;
}

.show-diff ins {
    background: #c9fff0;
    border-radius: 2px;
    text-decoration: underline;
}