<!doctype html>
<html lang="en">

    <head>
        <meta name="viewport" content="initial-scale=1.0, width=device-width">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

        {# Favicons #}
        <link rel="shortcut icon" href="favicon.ico" type="image/x-icon"/>

        {# Theme color for browser chrome (chrome android) #}
        <meta name="theme-color" content="#0171a1">

        {# Primary Meta Tags #}
        <title>COVID-19 FAQ</title>

        {# Google Fonts #}
        <link href="https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap" rel="stylesheet">

        <link href="assets/styles.css" rel="stylesheet">

    </head>

    <body class="page ">

        <header id="header" class="header">

            <h1>VT COVID-19 FAQ</h1>

        </header>

        <main class="content">

            <div>
                <input type="search" class="search" id="search" placeholder="Type to search">
            </div>

            <ul class="topics">

                {% for topic in collections.FaqsByTopic %}
                    <li id="{{topic.name}}" class="topic">

                        <h2>{{topic.name}}</h2>

                        <ul class="faqs">
                            {% for faq in topic.faqs %}
                                <li id="{{faq.id}}" class="faq">
                                    <details >
                                        <summary class="context">
                                            <h3>{{faq.answer | extractQuestion}}</h3>
                                            <a class="permalink" href="#{{faq.id}}">#</a>
                                        </summary>

                                        <ul class="alt-phrasings">
                                            {% for q in faq.questions %}
                                                <li class="phrasing">{{q}}</li>
                                            {% endfor %}
                                        </ul>

                                        <div class="answer">

                                            {{faq.answer | extractAnswer | md | safe}}

                                        </div>

                                    </details>
                                </li>
                            {% endfor %}
                        </ul>
                    </li>
                {% endfor %}
            </ul>
        </main>

        <footer class="footer">

            <p class="copyright">
                &copy; 2020 Vermont Department of Health
            </p>
            <p>
                Stay informed at
                <a href="https://www.healthvermont.gov/covid">HealthVermont.gov/COVID</a>
            </p>

        </footer>

        <script src="assets/mark.js"></script>
        <script src="assets/polyfill.js"></script>
        <script src="assets/script.js"></script>

    </body>

</html>
