
{# Favicons #}
<link rel="shortcut icon" href="favicon.ico" type="image/x-icon"/>

{# Theme color for browser chrome (chrome android) #}
<meta name="theme-color" content="#0171a1">

{# Primary Meta Tags #}
<title>COVID-19 FAQ</title>
